
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=BhuTuka+Expanded+One&display=swap');
body {
    background-image: url(https://cdn.pixabay.com/photo/2018/09/20/04/55/city-3690002_1280.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;

    /* feel free to update these css variables for a quick theme */
    --color1: #CECAC4ff;
    --color2: #252422ff;
    --color3: #F1F1F1ff;
    --color4: #b2a9a0ff;
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/

    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 30px;

    font-family: 'Bebas Neue', cursive;
    background-color: var(--color4);
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}
#background-img {
    position: relative;
    width: 100%
}
.image {
    position: relative;
    width: 600;
}
.image-img {
    display: block;
    width: 600;
    
}
.image-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    
}
.image-overlay:hover {
    opacity: 1;
}
.image-title {
    font-size: 5em;
    font-weight: bold;
}
.image-description {
    font-size: 8em;
    margin-top: 0.25em;
}
#pronouns {
    font-size: 2em;
    margin-top: 0;
    align-content: flex-start;
    
    
}
.hidden {
    display: none; 
}
#animal-div {
    position: relative;
    width: 200;
}
.image-overlay-redd {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}
.image-overlay-redd:hover {
    opacity: 1;
}
.image-title-redd {
    font-size: 3em;
    font-weight: bold;
    
}
section {
    background-color: var(--color2);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px black;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color2);
    height: var(--header-height);
    box-shadow: var(--shadow);
    border: solid 2px black;
    font-family: 'Bebas Neue', cursive;;
}
h1 {
    font-size: 2.5rem;
    color: var(--color3);
    font-family: 'BhuTuka Expanded One', cursive;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
    font-size: 2em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: var(--color3);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    box-shadow: var(--shadow);
}
